<aside>
    <section class="article-info">
        <ul>
            <li class="article-header">
                <!--<a href="void:0" data-id="<%= _id %>"><%= title %></a>-->
                <a href="#blog/<%= _id %>"  data-id="<%= _id %>"><%= title %></a>
                <span><p>阅读:<%= meta.seeCount %></p><p><%= updateDate %></p></span>
            </li>
            <li class="article-description">
                <%= description %>
            </li>
        </ul>
    </section>
</aside>